body {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 14;
}
h2 {
  color: blueviolet;
  font-size: 45px;
  text-align: center;
}
.navbar {
  background-color: #333;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: left;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #555;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 25px;
}

th {
  
  color: black;
  text-align: center;
  margin: auto;
  padding: 5px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.class {
  background-color: lightblue;
}
.work {
  background-color: lightgreen;
}
.food {
  background-color: lightcoral;
}
.homework {
  background-color: lavender;
}
.relax {
  background-color: goldenrod;
}
.free {
  background-color: #555;
  color: white;
}
.fav {
  margin-right: 50px;
  margin-left: 50px;
}
.container {
  display: flex;
}
.fav-container {
  display: flex;
  border: 1px solid #333;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.text {
  flex: 1;
  padding-right: 20px;
}

.img {
  padding-left: 40px;
}
.bio {
  font-size: 14;
}
.center {
  text-align: center;
}
